.container {
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #parkingZoneImage {
    max-width: 100%;
  }
  
  #parkingZoneOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 0, 0.5);
    opacity: 0;
    pointer-events: none;
  }
  